
//variabili colore
$primary-color: #0e6cff;
$text-color: #f4f4f4;
$secondary-color: #ff8700;
$tertiary-color: #4caf50;
$background-color: #f8f9fa;
$navbar-bg: #ff0000;
$hero-bg: #640fc5;

//variabili spaziature
$padding: 1em;
$margin: 1em;
$margin-left: 0.8em 

//variabili nav-bar

